{% extends 'base.html' %}

{% load static %}
{% block style %} {% static 'css/store/product-detail.css' %} {% endblock %}

{% block title %}{{ product.name }} | {% endblock %}

{% block description %}{{ product.name }}. {{ product.description|truncatewords:15 }} .Compra online en Vivero Monte Verde{% endblock %}

{% block ogTitle %}{{product.name}} - Vivero Monte Verde{% endblock %}
{% block ogImage%}{{ product.image.url }}{% endblock %}

{% block content %}
    <main class="product-detail-container">
        <img src="{{ product.image.url }}" class="product-detail-container--main-img" alt="{{ product.name }}">
        <div class="product-detail-container--info-container">
            <div class="info-container--detail-container">
                <div class="info-container--category-container">
                    <span><img src="{% static 'img/leaf.png' %}" class="category-container--img"></span>
                    <p class="category-container--content">Categoría: <a href="{% url 'store-category' product.category.slug %}">{{ product.category.name }}</a></p>
                </div>
                <h1 class="info-container--name">{{ product.name }}</h1>
                <p class="info-container--price">S/ <span class="price--content">{{ product.price }}</span></p>
                <p class="info-container--description">{{ product.description }}</p>
            </div>
            <button class="info-container--button">Agregar al carro</button>
        </div>
    </main>
    {% include 'snippets/store/notification.html' %}
{% endblock %}

{% block srcJS %} {% static 'js/store/product-detail.js' %} {% endblock %}