{% extends 'base.html' %}

{% load static %}
{% block style %} {% static 'css/store/product-detail.css' %} {% endblock %}

{% block content %}
    <main class="product-detail-container">
        <img src="{{ product.image.url }}">
        <div class="product-detail-container--info-container">
            <div class="info-container--detail-container">
                <div class="info-container--category-container">
                    <span><img src="{% static 'img/leaf.png' %}" class="category-container--img"></span>
                    <p class="category-container--content">Categoría: <a href="{% url 'store-category' product.category.slug %}">{{ product.category.name }}</a></p>
                </div>
                <h2>{{ product.name }}</h2>
                <p class="info-container--price">S/ {{ product.price }}</p>
                <p class="info-container--description">{{ product.description }}</p>
            </div>
            <button class="info-container--button">Agregar al carro</button>
        </div>
    </main>
{% endblock %}