{% extends 'base.html' %}

{% block title %}Tienda | {% endblock %}

{% block description %}Vivero Monte Verde ofrece una amplia gama de productos de jardinería, plantas y herramientas, ideales tanto para tu jardín como para proyectos de embellecimiento urbano.{% endblock %}

{% load static %}
{% block style %} {% static 'css/store/tienda.css' %} {% endblock %}

{% block ogTitle %}Tienda de Vivero Monte Verde{% endblock %}
{% block ogImage%}{% static 'img/logo.png' %}{% endblock %}

{% block content %}
    <div class="base--form--container">
        <form action="{% url 'search' %}" class="header--form">
            <input type="text" placeholder="Buscar producto" name="q" class="header--form--input">
        </form>
    </div>   
    <div class="store-page--container">
        {% include 'snippets/store/categories-container.html' %}
        {% include 'snippets/store/product-container.html' %}
    </div>
    <input type="hidden" value="{{ number }}" id="number">
    {% include 'snippets/store/notification.html' %}
{% endblock %}

{% block srcJS %} {% static 'js/store/tienda.js' %} {% endblock %}