:root{
    --verde-bosque: #056124;
    --gris-oscuro: #303030;
    --verde-menta: #20ac25;
    --dark-grey: #333;
}

body{
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

h1, h2, h3, h4, p{
    margin: 0;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.body-main-container{
    flex: 1;
}

/* ------ HEADER ------- */
.header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 60px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    gap: 30px;
    box-shadow: 0 1px 8px #0005;
    background-color: #fff;
}

.header--logo{
    display: block;

    & img{
        width: 120px;
    }
}

.header--menu{
    display: none;

    & .menu-item{
        display: block;
        margin: 3px 0;
        width: 30px;
        height: 4px;
        background-color: var(--gris-oscuro);
    }
}

.nav-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.nav-list--item-container{
    box-sizing: border-box;
}

/* ELEMENTOS DE LA BARRA DE NAVEGACIÓN */
.nav-list--item-container--link{
    display: flex;
    gap: 10px;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
}

.nav-list--item-container--link:hover{
    color: #20ac25;
}

/* CARRITO DE COMPRAS RESPONSIVE */
.nav-list--item-container.shopping-cart{
    display: none;
}

/* ESTILOS PARA EL ITEM ACTIVO */
.nav-list--item-container--link--li.active::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--verde-menta);
}

/* ÍCONOS QUE SE MUESTRAN EN RESPONSIVE */
.nav-list--item-container-icon{
    display: none;
}

/* ESTILOS PARA EL ÍCONO DEL CARRITO */
.list-container-image{
    width: 30px;
    position: relative;
    line-height: normal;

        & span{
            background-color: #056124;
            color: #fff;
            box-sizing: border-box;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 22px;
            width: 22px;
            border-radius: 50%;
            padding: 1px;
            position: absolute;
            top: -8px;
            right: -7px;
            font-size: 0.9rem;
        }
}

/* BACKGROUND QUE SE ACTIVA EN RESPONSIVE */
.background-navbar{
    display: none;
    position: absolute;
    top: 60px;
    height: 100dvh;
    right: 0;
    left: 0;
    background-color: #0006;
}

.header--nav.show{
    right: 0;
}

.background-navbar.show{
    display: block;
}

/* ---------------- END HEADER --------------- */


/* -------- FOOTER -------- */
.footer{
    background-color: var(--verde-bosque);
    color: #fff;
    padding: 2rem;
}

.footer-container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.rights-container{
    border-top: 1px solid var(--verde-menta);
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    margin-top: 24px;
    text-align: center;
    padding: 24px;
    line-height: 1.5;

    & span{
        font-family: 'Montserrat', sans-serif;
        color: yellow;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-style: italic;
        font-weight: bold;
    }

    & span:hover{
        cursor: pointer;
        color: var(--verde-menta);
    }
}

.footer-section--title{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 16px;

    & strong{
        font-weight: bold;
    }
}

.about{
    & p{
        font-style: italic;
        color: #ccc;
    }
}

.links{
    & .links-ul{
        list-style-type: none;
        padding: 0;
        margin: 0;

        & li{
            margin-bottom: 8px;
        }

        & .links-ul--item{
            color: #ccc;
            text-decoration: none;
        }

        & .links-ul--item:hover{
            color: var(--verde-menta);
        }
    }
}

.contact{
    & p{
        color: #ccc;
        margin-bottom: 8px;
    }
}

.social--item{
    display: block;
    margin-bottom: 8px;
    opacity: 0.5;
}

.social--item:hover{
    opacity: 1;
}
/* ------------------------ */


/* ÍCONO DE WHATSAPP */
.icon-whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 8px 0 #000;
    border-radius: 50%;
}

.icon-whatsapp:hover{
    cursor: pointer;
}
/* ----------------- */

/* MEDIA QUERIES */
@media (max-width: 1000px){
    

    .footer-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
        justify-content: space-between;
    }
}

@media (max-width: 900px){
    .header--menu{
        display: block;
    }

    .header--nav{
        box-sizing: border-box;
        background-color: #fff;
        position: fixed;
        top: 60px;
        bottom: 0;
        width: 490px;
        right: -510px;
        transition: right 0.5s ease-in-out;
    }

    .nav-list--item-container{
        width: 100%;
        border-top: 1px solid #e0e0e0;
    }

    .nav-list{
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .nav-list--item-container--link{
        padding: 8px 16px;
    }

    .nav-list--item-container-icon{
        display: block;
    }

    .nav-list--item-container--link--li.active::after{
        display: none;
    }

    /* CARRITO DE COMPRAS RESPONSIVE */
    .nav-list--item-container.shopping-cart{
        display: block;
    }

    /* CONTENEDOR CARRITO PC */
    .header--navigation-icons{
        display: none;
    }

    body.no-scroll {
        overflow: hidden;
    }
}

@media (max-width: 768px){
    .footer-container{
        grid-template-columns: auto auto;
        gap: 1.25rem;
        justify-content: space-around;
    }

    .icon-whatsapp{
        right: 15px;
    }
    
}

@media (max-width: 600px){
    .header--nav{
        right: -100%;
        width: 90%;
    }

    .header{
        padding: 20px;
    }
}