{% load static %}

<section class="section-product-container">
    <main class="product-list-container">
        {% for product in page_obj %}
            {% include 'snippets/store/product.html' %}
        {% endfor %}        
    </main>
    <div class="product-container--pagination-container">
        <p>Página {{ page_obj.number}} - {{ page_obj.paginator.num_pages }}</p>
        <div class="pagination--container--items">
            {% if page_obj.has_previous %}
                <div class="pagination--container--item">
                    <a href="?page={{ page_obj.previous_page_number }}"><img src="{% static 'img/back.png' %}"></a>
                </div>
            {% endif %}
            <div></div>
            {% for page in page_obj.paginator.page_range %}
                <div class="pagination--container--item {% if page == page_obj.number %}active{% endif %}">
                    <a href="?page={{ page }}">{{ page }}</a>
                </div>
            {% endfor %}
            {% if page_obj.has_next %}
                <div class="pagination--container--item">
                     <a href="?page={{ page_obj.next_page_number }}"><img src="{% static 'img/next.png' %}"></a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
