<div class="product-container" data-slug="{{ product.slug }}">
    <div class="product--img-container">
        <img src="{{ product.image.url }}">
    </div>
    <div class="product--info-container">
        <p class="product--name">{{ product.name }}</p>
        <div class="product--info--price-container">
            <p class="price-text">Precio</p>
            <p>S/<span class="price-sale">{{ product.price }}</span></p>
        </div>
        <button class="product--button">Agregar</button>
    </div>
</div>