{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href={% block style %} {% endblock %}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header class="header">
        <div class="header--logo">
            Monte Verde
        </div>
        <div class="header--menu">
            <span class="menu-item"></span>
            <span class="menu-item"></span>
            <span class="menu-item"></span>
        </div>
        <nav class="header--nav">
            <ul class="nav-list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Proyectos</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

<script src="{% static 'js/base.js' %}"></script>
</body>
</html>