{% url 'store' as store %}
{% url 'store-category' as category %}
{% url 'search' as search %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Monte verde {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href={% block style %} {% endblock %}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header class="header">
        <div class="header--logo">
            <img src="{% static 'img/logo.png' %}">
        </div>
        {% if request.resolver_match.url_name == 'store' or request.resolver_match.url_name == 'search' or request.resolver_match.url_name == 'store-category' %}
            <form action="{% url 'search' %}" class="header--form">
                <input type="text" placeholder="Buscar producto" name="q" class="header--form--input">
            </form>
        {% endif %}
        <div class="header--menu">
            <span class="menu-item"></span>
            <span class="menu-item"></span>
            <span class="menu-item"></span>
        </div>
        <div class="background-navbar"></div>
        <nav class="header--nav">
            <ul class="nav-list">
                <div class="nav-list--item-container">
                    <a href="{% url 'home' %}" class="nav-list--item-container--link">
                        <span class="nav-list--item-container-icon"><img src="{% static 'img/nav-icons/home.png' %}"></span>
                        <li>Inicio</li>
                    </a>
                </div>
                <div class="nav-list--item-container">
                    <a href="#" class="nav-list--item-container--link">
                        <span class="nav-list--item-container-icon"><img src="{% static 'img/nav-icons/us.png' %}"></span>   
                        <li>Nosotros</li>
                    </a>
                </div>
                <div class="nav-list--item-container">
                    <a href="{% url 'store' %}" class="nav-list--item-container--link">
                        <span class="nav-list--item-container-icon"><img src="{% static 'img/nav-icons/store.png' %}"></span>
                        <li>Tienda</li>
                    </a>
                </div>
                <div class="nav-list--item-container">
                    <a href="{% url 'services' %}" class="nav-list--item-container--link">
                        <span class="nav-list--item-container-icon"><img src="{% static 'img/nav-icons/services.png' %}"></span>
                        <li>Servicios</li>
                    </a>
                </div>
                <div class="nav-list--item-container">
                    <a href="#" class="nav-list--item-container--link">
                        <span class="nav-list--item-container-icon"><img src="{% static 'img/nav-icons/project.png' %}"></span>
                        <li>Proyectos</li>
                    </a>
                </div>
                <div class="nav-list--item-container">
                    <a href="{% url 'shopping_cart' %}" class="nav-list--item-container--link">
                        <li class="list--shopping-cart">
                            <div class="list-container-image">
                                <img src="{% static 'img/shopping-cart.png' %}">
                                <span class="shopping-cart--count">0</span>
                            </div>
                        </li>
                    </a>    
                </div>
            </ul>
        </nav>
    </header>
    {% if request.resolver_match.url_name == 'store' or request.resolver_match.url_name == 'search' or request.resolver_match.url_name == 'store-category' %}
    <div class="base--form--container">
        <form action="{% url 'search' %}" class="header--form form-responsive">
            <input type="text" placeholder="Buscar producto" name="q" class="header--form--input">
        </form>
    </div>    
    {% endif %}
    
    <div class="body-main-container">
        {% block content %}
        {% endblock %}
    </div>
    

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section about">
                <h3 class="footer-section--title">Vivero Monte Verde</h3>
                <p>Inspirando vida a través de la naturaleza.</p>
            </div>
            <div class="footer-section links">
                <h4 class="footer-section--title">Secciones</h4>
                <ul class="links-ul">
                    <li><a href="{% url 'home' %}" class="links-ul--item">Inicio</a></li>
                    <li><a href="#" class="links-ul--item">Nosotros</a></li>
                    <li><a href="{% url 'store' %}" class="links-ul--item">Tienda</a></li>
                    <li><a href="{% url 'services' %}" class="links-ul--item">Servicios</a></li>
                    <li><a href="#" class="links-ul--item">Proyectos</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h4 class="footer-section--title">Contacto</h4>
                <p>✉️ contacto@monteverde.com</p>
                <p>📞 (colocar teléfono)</p>
            </div>
            <div class="footer-section social">
                <h4 class="footer-section--title">Síguenos</h4>
                <a href="#" class="social--item"><img src="{% static 'img/footer-icons/facebook.png' %}" alt="Facebook"></a>
                <a href="#" class="social--item"><img src="{% static 'img/footer-icons/instagram.png' %}" alt="Instagram"></a>
            </div>
        </div>
    </footer>

<script src="{% static 'js/base.js' %}"></script>
<script src={% block srcJS %} {% endblock %}></script>
<script>
    {% block codeJS %}
    {% endblock %}
</script>
</body>
</html>