{% url 'store' as store %}
{% url 'store-category' as category %}
{% url 'search' as search %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Monte verde {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href={% block style %} {% endblock %}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header class="header">
        <div class="header--logo">
            Monte Verde
        </div>
        <div class="header--menu">
            <span class="menu-item"></span>
            <span class="menu-item"></span>
            <span class="menu-item"></span>
        </div>
        {% if request.resolver_match.url_name == 'store' or request.resolver_match.url_name == 'search' or request.resolver_match.url_name == 'store-category' %}
            <form action="{% url 'search' %}">
                <input type="text" placeholder="Buscar producto" name="q">
            </form>
        {% endif %}
        <nav class="header--nav">
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="{% url 'store' %}">Tienda</a></li>
                <li><a href="{% url 'services' %}">Servicios</a></li>
                <li><a href="#">Proyectos</a></li>
                <li class="list--shopping-cart">
                    <a href="{% url 'shopping_cart' %}"><img src="{% static 'img/shopping-cart.png' %}"></a>
                    <span class="shopping-cart--count">0</span>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

<script src="{% static 'js/base.js' %}"></script>
<script src={% block srcJS %} {% endblock %}></script>
<script>
    {% block codeJS %}
    {% endblock %}
</script>
</body>
</html>