{% extends 'base.html' %}
{% load static %}
{% block style %} {% static 'css/inicio.css' %} {% endblock %}

{% block content %}
    <div class="title-container">
        <div class="title-container--content-container">
            <h1 class="title-container--content-container--title"><span>CULTIVA</span> NATURALEZA RESPIRA <span>VIDA</span></h1>
        </div>
    </div>
    <section class="main-products-services-container products-main-container">
        <h2 class="main-products-services-container--title">Nuestros Productos Estrella</h2>
        <div class="main-products-services-container--grid-container">
            <div class="grid-container--item-container">
                <img src="{% static 'img/producto1.jpg' %}">
                <div class="grid-container--item-container--title-container">
                    <h3>Monstera Deliciosa</h3>
                </div>
                <p>Perfecta para interiores, fácil de cuidar y con hojas impresionante</p>
                <a>Ver detalles</a>
            </div>
            <div class="grid-container--item-container">
                <img src="{% static 'img/producto1.jpg' %}">
                <div class="grid-container--item-container--title-container">
                    <h3>Suculentas Variadas</h3>
                </div>
                <p>Ideales para principiantes y para dar un toque moderno a tu espacio</p>
                <a>Ver detalles</a>
            </div>
            <div class="grid-container--item-container">
                <img src="{% static 'img/producto1.jpg' %}">
                <div class="grid-container--item-container--title-container">
                    <h3>Orquídeas Phalaenopsis</h3>
                </div>
                <p>Elegantes y coloridas, añaden un toque de sofisticación a cualquier hogar</p>
                <a>Ver detalles</a>
            </div>
        </div>
    </section>
    <section class="main-products-services-container">
        <h2 class="main-products-services-container--title">Nuestros servicios profesionales</h2>
        <div class="services-container">
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/servicio1.jpeg' %}"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Diseño de Jardines</h3>
                    </div>
                    <p>Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div class="service-container--info-container">
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/servicio1.jpeg' %}"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Mantenimiento de Áreas Verdes</h3>
                    </div>
                    <p>Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/servicio1.jpeg' %}"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Instalación de Riego</h3>
                    </div>
                    <p>Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/servicio1.jpeg' %}"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Asesoría en Paisajismo</h3>
                    </div>
                    <p>Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
        </div>
    </section>
    <!--<section class="quote-container">
        <h2 class="quote--title">Cotiza con nosotros</h2>
        <div class="form-container">
            <div class="form--image-container">
                <img src="{% static 'img/form.jpeg' %}">
            </div>
            <div class="form">
                <p>¿Buscas los mejores productos y especialistas en áreas verdes?</p>
                <form method="POST">
                    {% csrf_token %}
                    <input placeholder="nombre" name="name">
                    <input placeholder="telefono" name="phone">
                    <input placeholder="Servicio a solicitar" name="service">
                    <textarea placeholder="Déjanos un mensaje" class="message"></textarea>
                    <button>Enviar</button>
                </form>
            </div>
        </div>
    </section>-->
    <section class="contact-section">
        <article class="contact-article">
            <h2 class="contact-article--title">Contáctanos</h2>
            <p><span>Dirección:</span> Av. Principal 123, San Martín de Porres, Lima</p>
            <p><span>Teléfono:</span> +51 987 654 321</p>
            <p><span>Email:</span> info@monteverde.com</p>
            <p><span>Horario:</span> Lunes a Sábado: 9:00 AM - 6:00 PM</p>
        </article>
    </section>

    <input type="hidden" value="{{ number }}" id="number">
    
{% endblock %}

{% block srcJS %} {% static 'js/inicio.js' %} {% endblock %}