{% extends 'base.html' %}
{% load static %}
{% block style %} {% static 'css/inicio.css' %} {% endblock %}

{% block content %}
    <div class="title-container">
        <div class="title-container--content-container">
            <h1 class="title-container--content-container--title"><span>CULTIVA</span> NATURALEZA RESPIRA <span>VIDA</span></h1>
        </div>
    </div>
    <section class="product-container">
        <fieldset class="product">
            <legend class="product--legend">Tienda</legend>
            <div class="product--item-container">
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'img/saco.jpg' %}">
                    </div>
                    <div class="info-container">
                        <h3 class="info-container--title">Producto 1</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'img/saco2.jpg' %}">
                    </div>
                    <div class="info-container">
                        <h3 class="info-container--title">Producto 2</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'img/saco3.jpeg' %}">
                    </div>
                    <div class="info-container">
                        <h3 class="info-container--title">Producto 3</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'img/saco4.png' %}">
                    </div>
                    <div class="info-container">
                        <h3 class="info-container--title">Producto 4</h3>
                    </div>
                </div>
            </div>
            <div class="product-cr--item-container">
                <button class="prev">❮</button>
                <div class="image-container">
                    <img src="{% static 'img/saco4.png' %}" id="img-p">
                </div>
                <div class="info-container">
                    <h3 class="product-title">Producto 1</h3>
                </div>
                <button class="next">❯</button>
            </div>
        </fieldset>
        <fieldset class="product">
            <legend class="product--legend">Servicios</legend>
            <div class="product--item-container">
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'img/saco.jpg' %}">
                    </div>
                    <div class="info-container">
                        <h3 class="info-container--title">Producto 1</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'img/saco.jpg' %}">
                    </div>
                    <div class="info-container">
                        <h3 class="info-container--title">Producto 1</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'img/producto1.jpg' %}">
                    </div> 
                    <div class="info-container">
                        <h3 class="info-container--title">Producto 1</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'img/planta1.png' %}">
                    </div>
                    <div class="info-container">
                        <h3 class="info-container--title">Producto 1</h3>
                    </div>
                </div>
            </div>
            <div class="product-cr--item-container">
                <button class="prev prevs">❮</button>
                <div class="image-container">
                    <img src="{% static 'img/saco4.png' %}" id="img-s">
                </div>
                <div class="info-container">
                    <h3 class="service-title">Servicio 1</h3>
                </div>
                <button class="next nexts">❯</button>
            </div>
        </fieldset>
    </section>
    <section class="customer-container">
        <div class="customer--title-container">
            <h2>Valoraciones de nuestros clientes</h2>
        </div>
        <div class="customer--reviews-container">
            <article class="reviews-item">
                <div class="item-assessment">
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                </div>
                <div class="item-client">
                    <h5>Cliente 1</h5>
                    <img src="{% static 'img/client.jpeg' %}">
                </div>
            </article>
            <article class="reviews-item">
                <div class="item-assessment">
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                </div>
                <div class="item-client">
                    <h5>Cliente 2</h5>
                    <img src="{% static 'img/client.jpeg' %}">
                </div>
            </article>
            <article class="reviews-item">
                <div class="item-assessment">
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                    <span><img src="{% static 'img/estrella.png' %}"></span>
                </div>
                <div class="item-client">
                    <h5>Cliente 3</h5>
                    <img src="{% static 'img/client.jpeg' %}">
                </div>
            </article>
        </div>
    </section>
    <section class="quote-container">
        <h2 class="quote--title">Cotiza con nosotros</h2>
        <div class="form-container">
            <div class="form--image-container">
                <img src="{% static 'img/form.jpeg' %}">
            </div>
            <div class="form">
                <p>¿Buscas los mejores productos y especialistas en áreas verdes?</p>
                <form method="POST">
                    {% csrf_token %}
                    <input placeholder="nombre" name="name">
                    <input placeholder="telefono" name="phone">
                    <input placeholder="Servicio a solicitar" name="service">
                    <textarea placeholder="Déjanos un mensaje" class="message"></textarea>
                    <button>Enviar</button>
                </form>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block codeJS %}
    const images = {
        'products': [
            {
                name: 'Producto 1',
                src: "{% static 'img/saco.jpg' %}",
            }, {
                name: 'Producto 2',
                src: "{% static 'img/saco2.jpg' %}",
            }, {
                name: 'Producto 3',
                src: "{% static 'img/saco3.jpeg' %}"
            }
        ], 
        'services' : [
            {
                name: 'Servicio 1',
                src: "{% static 'img/saco.jpg' %}",
            }, {
                name: 'Servicio 2',
                src: "{% static 'img/saco2.jpg' %}",
            }, {
                name: 'Servicio 3',
                src: "{% static 'img/saco3.jpeg' %}"
            }
        ]
    };
{% endblock %}

{% block srcJS %} {% static 'js/inicio.js' %} {% endblock %}