{% extends 'base.html' %}

{% block title %} - Servicios {% endblock %}

{% load static %}
{% block style %} {% static 'css/services.css' %} {% endblock %}

{% block content %}
    <section class="main-products-services-container">
        <h2 class="main-products-services-container--title">Nuestros servicios profesionales</h2>
        <div class="services-container">
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/servicio1.jpeg' %}"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Diseño de Jardines</h3>
                    </div>
                    <p>Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div class="service-container--info-container">
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/servicio1.jpeg' %}"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Mantenimiento de Áreas Verdes</h3>
                    </div>
                    <p>Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/servicio1.jpeg' %}"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Instalación de Riego</h3>
                    </div>
                    <p>Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/servicio1.jpeg' %}"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Asesoría en Paisajismo</h3>
                    </div>
                    <p>Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
        </div>
    </section>
    <!--<h1>Servicios</h1>
    <main class="services-container">
        <div class="services--item">
            <div class="services--info">
                <div class="info--image-container">
                    <img src="{% static 'img/servicio1.jpeg' %}">
                </div>
                <div class="info--description">
                    <h2 class="description--title">Servicio 1</h2>
                    <p class="description--content">Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                </div>
            </div>
            <div class="services--button-container">
                <button class="button">Contratar</button>
            </div>
        </div>
        <div class="services--item">
            <div class="services--info">
                <div class="info--image-container">
                    <img src="{% static 'img/servicio1.jpeg' %}">
                </div>
                <div class="info--description">
                    <h2 class="description--title">Servicio 2</h2>
                    <p class="description--content">Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                </div>
            </div>
            <div class="services--button-container">
                <button class="button">Contratar</button>
            </div>
        </div>
        <div class="services--item">
            <div class="services--info">
                <div class="info--image-container">
                    <img src="{% static 'img/servicio1.jpeg' %}">
                </div>
                <div class="info--description">
                    <h2 class="description--title">Servicio 3</h2>
                    <p class="description--content">Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                </div>
            </div>
            <div class="services--button-container">
                <button class="button">Contratar</button>
            </div>
        </div>
        <div class="services--item">
            <div class="services--info">
                <div class="info--image-container">
                    <img src="{% static 'img/servicio1.jpeg' %}">
                </div>
                <div class="info--description">
                    <h2 class="description--title">Servicio 4</h2>
                    <p class="description--content">Servicio especializado de instalación y plantado de grass americano, ideal para jardines residenciales, áreas recreativas, parques y espacios públicos.</p>
                </div>
            </div>
            <div class="services--button-container">
                <button class="button">Contratar</button>
            </div>
        </div>
    </main>-->

    {% include 'snippets/form.html' %}
{% endblock %}

{% block srcJS %} {% static 'js/services.js' %} {% endblock %}