{% extends 'base.html' %}

{% block title %}| Servicios {% endblock %}

{% block description %}
Ofrecemos servicios especializados en áreas verdes, incluyendo mantenimiento de jardines, diseño de paisajes y asesoría en cuidado de plantas. ¡Haz crecer tu jardín con nuestros expertos!
{% endblock %}

{% load static %}
{% block style %} {% static 'css/services.css' %} {% endblock %}

{% block content %}
    <section class="main-products-services-container">
        <h2 class="main-products-services-container--title">Nuestros servicios profesionales</h2>
        <div class="services-container">
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/services/jardin.jpg' %}" alt="Diseño de jardines"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Diseño de Jardines</h3>
                    </div>
                    <p>Transformamos tu espacio exterior en un lugar único con diseños personalizados que combinan estética y funcionalidad para tu jardín, terraza o espacio verde.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div class="service-container--info-container">
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/services/mantenimiento.jpg' %}" alt="Mantenimiento de áreas verdes"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Mantenimiento de Áreas Verdes</h3>
                    </div>
                    <p>Realizamos mantenimiento de jardines y áreas verdes, garantizando su cuidado, salud y belleza a lo largo del año con servicios profesionales y especializados.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/services/riego.jpg' %}" alt="Instalación de riego"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Instalación de Riego</h3>
                    </div>
                    <p>Instalamos sistemas de riego eficientes y automatizados que optimizan el consumo de agua y mantienen tus plantas y césped siempre verdes y saludables.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
            <div class="services-container--service-container">
                <div class="service-container--img-container"><img src="{% static 'img/services/paisajismo.jpeg' %}" alt="Asesoría en paisajismo"></div>
                <div class="service-container--info-container">
                    <div class="service-container--info-container--title-container">
                        <h3 class="title-container--content">Asesoría en Paisajismo</h3>
                    </div>
                    <p>Ofrecemos asesoría experta en paisajismo para crear espacios exteriores que reflejen tus gustos, maximizando el diseño y la funcionalidad de tu jardín o área verde.</p>
                    <button class="service-container--info-container--button">Contratar</button>
                </div>
            </div>
        </div>
    </section>

    {% include 'snippets/form.html' %}

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="message-container--content-container {% if message.tags %}{{ message.tags }}{% endif %}">
            <p>{{ message }}</p>
            <img src="{% static 'img/x.png' %}" class="message-container--img">
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <input type="hidden" value="{{ number }}" id="number">
    
{% endblock %}

{% block srcJS %} {% static 'js/services.js' %} {% endblock %}