{% extends 'base.html' %}

{% block title %}| Nosotros{% endblock %}

{% block description %}
Conoce a Vivero Monte Verde, un equipo apasionado por las áreas verdes. Nos dedicamos a ofrecer productos de calidad y servicios personalizados para crear jardines hermosos y saludables.
{% endblock %}

{% load static %}
{% block style %} {% static 'css/us.css' %} {% endblock %}

{% block content %}
    <main class="us-main-container">
        <div class="us-main-container--content-container">
            <div class="content-container--title-container">
                <h2>Nuestra historia</h2>
                <span></span>
            </div>
            <p>En MonteVerde, creemos que la conexión con la naturaleza transforma vidas y espacios. Desde nuestros humildes comienzos, nos hemos dedicado a ofrecer plantas de la más alta calidad, asesoramiento experto y un servicio al cliente excepcional. Somos un equipo apasionado por la jardinería y el paisajismo, comprometidos con hacer de tu hogar un verdadero oasis verde.</p>
            <p>Nos enorgullece ser un vivero que no solo vende plantas, sino que cultiva relaciones y fomenta un amor profundo por el mundo natural. ¡Te invitamos a ser parte de nuestra comunidad verde!</p>
        </div>
        <div class="us-main-container--img-container">
            <img src="{% static 'img/us-image.jpeg' %}" alt="Equipo Vivero Monte Verde">
        </div>
    </main>
    <section class="mision-vision-container">
        <article class="mision-vision-container--article-container">
            <div class="mision-vision-container--article-container--title-container">
                <h3>Misión</h3>
                <span></span>
            </div>
            <p>En <strong>Vivero Monte Verde</strong>, transformamos espacios urbanos y privados en auténticos pulmones verdes, ofreciendo soluciones personalizadas para todo tipo de cliente: empresas, instituciones y particulares. Nuestra misión es crear ambientes naturales que promuevan el bienestar y la conexión con la naturaleza, todo con un enfoque de calidad, sostenibilidad y compromiso. Cada proyecto es una oportunidad para aportar valor y frescura, haciendo que el entorno de nuestros clientes sea único, renovado y más saludable.</p>
        </article>
        <div class="mision-vision-container--separation"></div>
        <article class="mision-vision-container--article-container">
            <div class="mision-vision-container--article-container--title-container">
                <h3>Visión</h3>
                <span></span>
            </div>
            <p>Aspiramos a ser la empresa líder en la creación de áreas verdes en la ciudad de Lima, destacándonos por nuestra capacidad para transformar espacios urbanos y privados. Buscamos ir más allá de la estética, convirtiendo en un lugar más verde, saludable y sostenible. Nuestro objetivo es generar un impacto positivo en el medio ambiente, llevando la naturaleza a cada rincón y ofreciendo soluciones que embellezcan la ciudad, mejoren la calidad de vida y fomenten la armonía con el entorno.</p>
        </article>
    </section>
{% endblock %}

