{% load static %}

<section class="quote-container">
    <h2 class="quote--title">Cotiza con nosotros</h2>
    <div class="form-container">
        <div class="form--image-container">
            <img src="{% static 'img/form.jpeg' %}">
        </div>
        <div class="form">
            <p>¿Buscas los mejores productos y especialistas en áreas verdes?</p>
            <form>
                <input placeholder="nombre">
                <input placeholder="telefono">
                <input placeholder="Servicio a solicitar">
                <textarea placeholder="Déjanos un mensaje"></textarea>
                <button>Enviar</button>
            </form>
        </div>
    </div>
</section>